<p>
    <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" class="floatLeft img-rounded" />
		Hi! I'm Sam and I'm a second-year university student in Computer Engineering.
		<br>
		I normally attend Iowa State University, but I'm studying at Cardiff University in the UK this Spring through an exchange program.
		<br>
		One of my hobbies is making videos. I've made lots of short sketch-type videos just for fun, but I've also entered and placed well in various national and regional student video contests.
		Check out my video <a href="/videos/contests.html">portfolio</a>.
		<br>
		In my free time, I enjoy working out, reading, and any sort of music that has a synthesizer it.
</p>