<h2>About Me</h2>
<p>
    <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" class="img-rounded img-responsive floatLeft" />
		My names Sam and I hope I made a website. I have a passion for llamas, but most of all small rodents. I wish I was left-handed. Naw mean? I've tried my luck in the rap game, but after you lose enough rap battles, it gets kind of old. Ever been to the Grand Canyon? Me neither. Seems like a cool thing to go visit, though.
</p>
<p>
    <ul class="buttons unstyled">
        <li><a href="https://youtube.com/{{ site.author.youtube }}" rel="me" class="social youtube" title="Go to youtube.com/{{ site.author.youtube }}" target="_blank"></a></li>		
    </ul>
</p>