header, nav, footer{
	display: block;
}


body {
	min-height:100%;
	background: #333;
    margin:0;
}

button,input,select,textarea {
font-size:100%;
vertical-align:baseline;
margin:0;
}

footer{
	background: #222;
	padding-top:1%;
	box-shadow: 0px -7px 7px -7px #333;

}

img {
	border:0;
	max-width:100%;
	width:auto;
	vertical-align:middle;
}

img.floatLeft {
    float: left;
    margin: 4px 8px 4px 0px;
}

img.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

img.avatar {
	width: 40%;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    background-color: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    line-height: 57px;
}

h2 {
    font-size: 32px;
    line-height: 48px;
}

h3 {
    font-size: 26px;
    line-height: 39px;
}

h4 {
    font-size: 22px;
    line-height: 33px;
}

h5 {
    font-size: 18px;
    line-height: 27px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

input, button, select, textarea {
    font-family: "Open Sans", sans-serif;
}

.about-content{
	margin-top: 58px;
}

.main-content{
}

/* site-logo */
.site-logo-iframe{
	border: 0px;
	min-width: 354px;
}

.site-header {
	padding: 4% 6% 1%;
	min-height: 175px;
}

.site-logo {
	float: left;
	margin-right: 20px;
}

.main-nav {
	margin: 0;
	float: left;
	list-style: none;
	text-transform: uppercase;
	margin-left: 25px;
	margin-top: 25px;
	margin-top: 2rem;
}

.main-nav li:first-child {
margin-left: 0;
}

.main-nav li {
float: left;
margin-left: 32px;
margin-left: 2rem;
}

/* Next/Prev pager */
.pager a {
  position:fixed;
  top:50%;
  z-index:101;
  margin-top:-30px;
  padding:20px 5px;
  height:20px;
  width:20px;
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  }

.pager a.prev {
  left:0%;
  border-radius:0px 3px 3px 0px;
}

.pager a.next {
  right:0%;
  border-radius:3px 0px 0px 3px;
}

.pager a { background-color:#444444; }
.pager a:hover { background-color:#222222; }
.pager .icon.prev { background-position:-80px -90px; }
.pager .icon.next { background-position:-100px -90px; }
.pager a:hover .icon.prev { background-position:-80px -70px; }
.pager a:hover .icon.next { background-position:-100px -70px; }
.pager .icon-arrow-left { position: fixed; left: 0; }
.pager .icon-arrow-right { position: fixed; }